@font-face {
  font-family: "SourceSansPro-Light";
  src: url("SourceSansPro-Light.otf");
}

body {
  background: linear-gradient(rgba(61, 70, 100, 0.86), rgba(61, 70, 100, 0.86)), url(background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.contact {
  text-align: right;
  padding: 3em;
  margin-left: 1em;
  font-family: 'SourceSansPro-Light', serif, Arial, Helvetica, sans-serif;
  color: white;
}

.contact > a {
  font-family: 'SourceSansPro-Light', serif, Arial, Helvetica, sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

.logo > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
  width: 20%;
  height: auto;
}
